<h1>Make An Appointments</h1>
<%= form_for [@appointment, @doctor] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.submit %>
<% end %>
